<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dictionary.audio.audiodictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon_no_border"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".InitScreenActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".TestHomePageActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".AddWord"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".HomeScreenActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".LoadWords"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".FavoritesActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RecentlyAdded"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewWord"
            android:screenOrientation="sensorPortrait"/>
    </application>

</manifest>